﻿@model AppCRM.Models.ActividadViewModel

@{
    ViewBag.Title = "Editar";
}
<div class="modal-dialog" role="document">
    <div class="modal-content" id="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">@ViewBag.Title</h4>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm("Edit", "Actividades", null, new AjaxOptions
            {
                HttpMethod = "POST",
                Url = Url.Action("Edit", "Actividades"),
                UpdateTargetId = "modal-content",
                OnSuccess = "closeModalEdit",
                InsertionMode = InsertionMode.Replace
            }, new { @class = "form-horizontal", role = "form", id = "frmEditar" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ActividadId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaInicial, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.FechaInicial, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                            @Html.ValidationMessageFor(model => model.FechaInicial, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoActividadId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.TipoActividadId, ViewData["tipos"] as SelectList, "--SELECCIONE EL TIPO DE ACTIVIDAD", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TipoActividadId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ClienteId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ClienteId, new { htmlAttributes = new { @class = "form-control", id = "ClienteId" } })
                            @Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Nombre del Cliente</label>
                        <div class="col-md-10">
                            @Html.TextBox("nombre", null, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Telefonos</label>
                        <div class="col-md-10">
                            <label style="color:blue;">@Model.Telefonos</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Correos</label>
                        <div class="col-md-10">
                            <label style="color:blue;">@Model.Emails</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Eliminar", "DeleteConfirmed", new { id=@Model.ActividadId }, new { @class="btn btn-danger" })
            </div>
        </div>
    </div>
</div>



@*<script>
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            language: 'es'
        });
        $('#nombre').autocomplete({
            source: '@Url.Action("Lista", "Clientes")',
            select: function (event, ui) {
                $('#ClienteId').val(ui.item.id);
                $('#nombre').val(ui.item.value);
                return false;
            }
        })
    </script>*@
