﻿@model IEnumerable<AppCRM.Models.Actividad>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Crear Nuevo", "Create")*@
    <a class="btn btn-default" data-target="#modal-crear" data-toggle="modal" href="/Actividades/Create">Crear Nueva</a>
</p>

<div id="calendar"></div>

<div class="modal fade" id="modal-crear" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>

<div class="modal fade" id="modal-editar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>


@section Scripts{
    <script src="@Url.Content("~/Scripts/lib/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar.js")"></script>
    <script src="@Url.Content("~/Scripts/locale/es.js")"></script>
    <script>
        function closeModalCreate(data) {
            if (data.succes) {
                $('#modal-crear').modal('hide');
                window.location.href = "/Actividades/index";
            }
        }

        function closeModalEdit(data) {
            $('#modal-editar').modal('hide');
            if (data.succes) {
                console.log("OK");
                $('#modal-editar').modal('hide');
                window.location.href = "/Actividades/index";
            } else {
                console.log("ERROR");
            }
        }

        function successFun(data, status) {
            $('#modal-editar').html(data);

            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                language: 'es'
            });

            $('#nombre').autocomplete({
                source: '@Url.Action("Lista", "Clientes")',
                select: function (event, ui) {
                    $('#ClienteId').val(ui.item.id);
                    $('#nombre').val(ui.item.value);
                    return false;
                }
            });

            $('#modal-editar').modal('show');
        }


        $(document).ready(function () {
            $('#calendar').fullCalendar({
                events: '/Actividades/Eventos',
                eventClick: function (event, element) {
                    var serviceUrl = '/Actividades/Edit/' + event.id;
                    $.ajax({
                        type: "GET",
                        url: serviceUrl,
                        data: $(this).serialize(),
                        success: successFun

                    })
                }
            });
        })

        $("#modal-crear").draggable({
            handle: ".modal-header"
        });
    </script>
}