﻿@model AppCRM.Models.BusquedaClienteModelView
@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-default" })
</p>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Búsqueda por nombre</h5>
            </div>
            <div class="panel-body">
                <div class="container">
                    @using (Ajax.BeginForm("BuscaNombre", "Clientes", null,
            new AjaxOptions
            {
                HttpMethod = "Post",
                UpdateTargetId = "ajaxtarget",
                LoadingElementId = "image_loading",
                InsertionMode = InsertionMode.Replace
            }, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-error" })
                        <div class="form-group">
                            @Html.LabelFor(t => t.NombreBuscar, new { @class = "control-label" })
                            @Html.TextBoxFor(t => t.NombreBuscar, new { @style = "width : 400px", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default" value="Buscar" />
                        </div>

                   
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Búsqueda por dirección de correo electrónico</h5>
            </div>
            <div class="panel-body">
                <div class="container">
                    @using (Ajax.BeginForm("BuscaEmail", "Clientes", null,
            new AjaxOptions
            {
                HttpMethod = "Post",
                UpdateTargetId = "ajaxtarget",
                LoadingElementId = "image_loading",
                InsertionMode = InsertionMode.Replace
            }, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-error" })
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            @Html.TextBoxFor(t => t.NombreBuscar, new { @style = "width : 300px", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default" value="Buscar" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Búsqueda por número telefónico</h5>
            </div>
            <div class="panel-body">
                <div class="container">
                    @using (Ajax.BeginForm("BuscaTelefono", "Clientes", null,
            new AjaxOptions
            {
                HttpMethod = "Post",
                UpdateTargetId = "ajaxtarget",
                LoadingElementId = "image_loading",
                InsertionMode = InsertionMode.Replace
            }, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-error" })
                        <div class="form-group">
                            <label class="control-label">Telefono</label>
                            @Html.TextBoxFor(t => t.NombreBuscar, new { @style = "width : 400px", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default" value="Buscar" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <img class="loadercentrado" id="image_loading" src="~/imgs/loading.gif" width="30" height="30" style="display:none" />
</div>
<div id="ajaxtarget"></div>
